<div class="followus">
    <div class="follow-icons">

        <a href=""><i class=" fab fa-twitter"></i></a>
        <a href=""><i class="fab  fa-facebook-f"></i></a>
        <a href=""><img src="./../../../assets/surface2.svg" alt=""></a>
        <a href=""><img src="./../../../assets/surface1.svg" alt=""></a>
        <a href=""><i class="fab fa-instagram instgram"></i></a>
    </div>
</div>

<ul>
    <li>
        <a (click)='active = !active' href="/home">
            <h3 [ngStyle]="{'color': active ? '#8DC043':'#ffffff'}">Home</h3>
        </a>
    </li>
    <li>
        <h3>About Us</h3>
        <a href="">who are us</a>
        <a href="">why us?</a>
    </li>
    <li>
        <h3>News</h3>
        <a href="/news">News</a>
        <a href="">Events</a>
    </li>
    <li>
        <h3>Careers</h3>
        <a href="">Opportunities</a>
    </li>

    <li>
        <a href="">
            <h3>Contact Us</h3>
        </a>
        <a href="">
            <h3>Site Map</h3>
        </a>
    </li>


</ul>