<div class="followus">
    <div class="follow-icons">
        <a href=""><i class="fab fa-instagram instgram"></i></a>
        <a href=""><img src="./../../../assets/surface1.svg" alt=""></a>

        <a href=""><img src="./../../../assets/surface2.svg" alt=""></a>
        <a href=""><i class="fab  fa-facebook-f"></i></a>
        <a href=""><i class=" fab fa-twitter"></i></a>
    </div>
</div>

<ul>
    <li>
        <a href="">
            <h2>Home</h2>
        </a>
    </li>
    <li>
        <h2>About Us</h2>
        <a href="">who are us</a>
        <a href="">why us?</a>
    </li>
    <li>
        <h2>News</h2>
        <a href="">News</a>
        <a href="">Events</a>
    </li>
    <li>
        <h2>Careers</h2>
        <a href="">Opportunities</a>
    </li>

    <li>
        <a href="">
            <h2>Contact Us</h2>
        </a>
        <a href="">
            <h2>Site Map</h2>
        </a>
    </li>


</ul>
