<section>
    <div class="wrapper">
        <nav class="breadcrumb">
            <a class="breadcrumb-item text-primary" routerLink=''>Home</a>
            <a class="breadcrumb-item text-primary" routerLink='/news'>News</a>
            <a class="breadcrumb-item text-secondary">Details</a>

        </nav>
        <h1>News Details</h1>
        <div *ngIf='article , categoryName' class="card">
            <img class="card-img-top img-fluid" src="{{article[0].urlToImage}}" alt="">
            <div class="card-body p-5">
                <span>{{categoryName}}</span>
                <div class="articleHeader ">
                    <h2 class="card-title text-dark">{{article[0].title}}</h2>
                    <div class="share text-right">
                        <!-- favorite icon -->
                        <i [ngStyle]="{'display':favorite === true ? 'none':'inline'}" class="far fa-heart fa-3x" (click)="this.favorite=!this.favorite"></i>
                        <i [ngStyle]="{'display':favorite === false ? 'none':'inline'}" class="fas fa-heart fa-3x" (click)="this.favorite=!this.favorite"></i>

                        <!-- share icon -->
                        <i class="fas fa-share-alt fa-3x" (click)='share=!share'></i>
                        <!-- <img class="share-icon" src="./../../../assets/ic_share_24px.svg" alt="" srcset=""> -->
                        <!-- social sharing -->
                        <div *ngIf='share' class="social">
                            <a class=" bg-primary text-white">
                                <i class="fab text-white fa-facebook-f"></i>
                            </a>
                            <a class=" bg-info text-white">
                                <i class="text-white fab fa-twitter"></i>
                            </a>
                            <a class=" bg-danger">
                                <i class="text-white fas fa-envelope"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <p class="card-text">{{article[0].content}}</p>
            </div>
        </div>
    </div>
</section>



<!-- related topics section -->


<section class="related-topics">
    <div class="wrapper">
        <h1>Related Topics</h1>
        <div class="topics-container">

            <div class="related-articles" *ngFor="let article of relatedTopicsDisplayed let i = index">
                <img class="img-fluid" src="{{article.urlToImage}}" alt="">
                <div class="relatedContent">
                    <span>{{categoryName}}</span>
                    <h2 class="my-3">{{article.title}}</h2>

                    <a class="LinkHov" (click)='reload(article.id)' [routerLink]='article.id'>View Details <span class="ArrowHov "><i class="fas fa-long-arrow-alt-right"></i></span></a>
                </div>
            </div>

        </div>
    </div>
</section>