@import '../../../shared/style/global.scss';
section {
    padding: 5% 0;
    background-color: #EFEFEF;
    h1 {
        padding: 3rem 0;
    }
    .card {
        img {
            max-height: 40rem;
        }
        span {
            font-size: 1.5rem;
        }
        .articleHeader {
            display: flex;
            flex-flow: column;
            .share {
                position: relative;
                i {
                    padding: 0.2rem;
                    font-size: 1.5rem;
                    color: $btnColor;
                    cursor: pointer;
                    &:last-child {
                        &:active {
                            transform: scale(0.7);
                        }
                    }
                }
                .social {
                    position: absolute;
                    right: 0;
                    display: flex;
                    a {
                        padding: 0.5rem;
                        i {
                            padding: 1rem;
                            font-size: 1.5rem;
                        }
                        &:first-child {
                            border-radius: 0.5rem 0 0 0.5rem;
                        }
                        &:last-child {
                            border-radius: 0 0.5rem 0.5rem 0;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width:600px) {
        .card {
            .articleHeader {
                display: flex;
                flex-flow: row;
                .share {
                    width: 30%;
                    i {
                        padding: 0.8rem;
                        font-size: 2.5rem;
                    }
                    .social {
                        a {
                            padding: 1rem;
                            i {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width:768px) {
        .card {
            .share {
                i {
                    padding: 0.8rem;
                    font-size: 2.5rem;
                }
            }
        }
    }
}

.related-tobics {
    .wrapper {
        .tobics-container {
            display: flex;
            flex-flow: column;
            @media screen and (min-width: 768px) {
                display: flex;
                flex-flow: row;
            }
            .related-articles {
                width: 100%;
                position: relative;
                @media screen and (min-width: 768px) {
                    width: 31.4%;
                    margin: 1rem 1rem;
                }
                img {
                    width: 100%;
                    object-fit: fill;
                    min-height: 40rem;
                    border-radius: 0.5rem;
                }
                .relatedContent {
                    background-color: rgba(255, 255, 255, 0.9);
                    border-radius: 5px;
                    position: absolute;
                    padding: 3rem;
                    bottom: 3%;
                    right: 2%;
                    left: 2%;
                }
                .LinkHov {
                    text-decoration: none;
                    color: $btnColor;
                    transition: all 1s ease;
                    font-size: 1.6rem;
                    &:hover {
                        color: $bgColor;
                    }
                    .ArrowHov {
                        margin-left: 5px;
                        transition: transform 1.5s ease;
                    }
                    &:hover .ArrowHov i {
                        transform: scaleX(2);
                    }
                }
            }
        }
    }
}
