@import '../style/global.scss';
nav {
    background-color: $bgColor;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        @media screen and (min-width: 768px) {
            padding: 1rem 0;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        margin-right: auto;
        .menu {
            cursor: pointer;
            width: 1.8rem;
            margin-right: 1.5rem;
        }
        .company-logo {
            cursor: pointer;
            width: 3.5rem;
        }
        @media screen and (min-width:768px) {
            .menu {
                width: 3rem;
                margin-right: 4rem;
            }
            .company-logo {
                width: 5.5rem;
            }
        }
    }
    .options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
        // search icon style
        .search {
            width: 40%;
            margin-right: 0.5rem;
            align-items: center;
            text-align: right;
            position: relative;
            i {
                @extend %navIcons
            }
            .show {
                position: absolute;
                right: 0;
            }
            .search-input {
                display: flex;
                position: relative;
                width: 100%;
                input {
                    background-color: #2D717B;
                    color: #ffffff;
                }
                .hidden {
                    position: absolute;
                    right: 0;
                    top: 10%;
                    transition: 0;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            .toats {
                visibility: hidden;
                color: #ffffff;
                font-size: 1rem;
                background-color: rgba(30, 30, 30, 0.4);
                padding: 0.2rem 0.5rem;
                border-radius: 0.5rem;
                position: absolute;
                right: -1rem;
                bottom: -2.5rem;
            }
            &:hover {
                .toats {
                    visibility: visible;
                }
            }
            @media screen and (min-width:768px) {
                margin-right: 1rem;
                i {
                    font-size: 1.8rem;
                    padding: 1rem;
                }
                .search-input {
                    input {
                        padding: 1.5rem;
                        font-size: 1.5rem;
                    }
                    .hidden {
                        top: -7%;
                    }
                }
                .toats {
                    padding: 0.5rem 1rem;
                    bottom: -3rem;
                }
            }
            @media screen and (min-width:1024px) {
                margin-right: 2rem;
                i {
                    font-size: 2rem;
                }
                .search-input {
                    .hidden {
                        top: -12%;
                    }
                }
            }
            @media screen and (min-width:1200px) {
                i {
                    font-size: 2rem;
                }
                .search-input {
                    .hidden {
                        top: -12%;
                    }
                }
            }
        }
        .notification {
            margin-right: 0.5rem;
            position: relative;
            a {
                i {
                    @extend %navIcons;
                    font-size: 1.3rem;
                }
            }
            .dropdown-menu {
                transform: translate3d(-115px, 25px, 0px) !important;
                a {
                    font-size: 1rem;
                }
                 :last-child {
                    color: $btnColor;
                    i {
                        padding-left: 1rem;
                    }
                    &:hover {
                        color: $bgColor;
                        i {
                            color: $bgColor;
                            background-color: transparent;
                            transform: scaleX(1.5);
                        }
                    }
                }
            }
            .toats {
                @extend %navToast;
            }
            &:hover {
                .toats {
                    visibility: visible;
                }
            }
        }
        .user {
            margin-right: 0.3rem;
            img {
                width: 25px;
            }
            p {
                font-size: 1rem;
                font-weight: 100;
                margin-bottom: 0;
                color: #ffffff;
            }
        }
        .setting {
            position: relative;
            i {
                @extend %navIcons;
            }
            .dropdown-menu {
                transform: translate3d(-105px, 25px, 0px) !important;
                a {
                    font-size: 1rem;
                }
            }
            .toats {
                @extend %navToast;
            }
            &:hover {
                .toats {
                    visibility: visible;
                }
            }
        }
        @media screen and (min-width:768px) {
            .search {
                margin-right: 1rem;
                i {
                    font-size: 1.8rem;
                    padding: 1rem;
                }
                .search-input {
                    input {
                        padding: 1.5rem;
                        font-size: 1.5rem;
                    }
                    .hidden {
                        top: -7%;
                    }
                }
                .toats {
                    padding: 0.5rem 1rem;
                    bottom: -3rem;
                }
            }
            .notification {
                margin-right: 1rem;
                text-align: center;
                a {
                    i {
                        font-size: 2rem;
                        padding: 1rem;
                    }
                }
                .toats {
                    padding: 0.5rem 1rem;
                    left: -1rem;
                    bottom: -3rem;
                }
            }
            .user {
                margin-right: 1rem;
                img {
                    width: 50px;
                }
                span {
                    font-size: 1.8rem;
                }
            }
            .setting {
                margin-right: 1rem;
                a {
                    i {
                        font-size: 1.5rem;
                        padding: 1rem;
                    }
                }
                .toats {
                    padding: 0.5rem 1rem;
                    left: -1rem;
                    bottom: -3rem;
                }
            }
        }
        @media screen and (min-width:1024px) {
            .search {
                margin-right: 2rem;
                i {
                    font-size: 2rem;
                }
                .search-input {
                    .hidden {
                        top: -12%;
                    }
                }
            }
            .notification {
                margin-right: 2rem;
                text-align: center;
                a {
                    i {
                        font-size: 2rem;
                    }
                }
                .dropdown-menu {
                    transform: translate3d(-145px, 44px, 0px) !important;
                    a {
                        font-size: 1.5rem;
                        i {
                            padding-left: 1.5rem;
                        }
                    }
                }
            }
            .user {
                margin-right: 2rem;
                img {
                    width: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .setting {
                margin-right: 2rem;
                a {
                    i {
                        font-size: 2rem;
                    }
                }
                .dropdown-menu {
                    transform: translate3d(-145px, 44px, 0px) !important;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        @media screen and (min-width:1200px) {
            .search {
                i {
                    font-size: 2rem;
                }
                .search-input {
                    .hidden {
                        top: -12%;
                    }
                }
            }
            .notification {
                text-align: center;
                a {
                    i {
                        font-size: 2.2rem;
                    }
                }
                .dropdown-menu {
                    transform: translate3d(-155px, 35px, 0px) !important;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
            .user {
                img {
                    width: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .setting {
                i {
                    font-size: 2rem;
                }
                .dropdown-menu {
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

aside {
    background-color: $bgColor;
    width: 80%;
    min-height: 100vh;
    app-menu {
        margin: auto;
        display: flex;
    }
    @media screen and (min-width:600px) {
        width: 50%;
    }
    @media screen and (min-width:768px) {
        width: 30%;
    }
}