<section>
    <div class="wrapper">

        <nav class="breadcrumb">
            <a class="breadcrumb-item text-primary" routerLink=''>Home</a>
            <a class="breadcrumb-item text-secondary">News</a>
        </nav>
        <h1>News</h1>
        <div class="row">
            <div class="col-6 col-lg-2 order-2 order-lg-1">
                <div class="form-group d-flex flex-column">
                    <label for="from">From</label>
                    <input type="date" name="" id="" placeholder="select" aria-describedby="helpId">
                </div>
            </div>
            <div class="col-6 col-lg-2 order-3 order-lg-2">
                <div class="form-group d-flex flex-column">
                    <label for="to">To</label>
                    <input type="date" name="" id="" placeholder="select" aria-describedby="helpId">
                </div>

            </div>
            <div class="col-6  col-lg-2 order-4 order-lg-3">
                <div class="form-group d-flex flex-column">
                    <label for="category">Category</label>
                    <select #categoryFilter name="" (change)="searchByCategory(categoryFilter)" id="" aria-placeholder="select category">
            <option value="">select category</option>
            <option *ngFor="let category of categories">{{category.name}}</option>
          </select>
                </div>
            </div>
            <div class="col-12 order-1
            order-lg-4 col-lg-4 search">
                <div class="form-group d-flex    ">

                    <input #newsSearch type="text" class="searchInput" name="" id="" (keypress)='search($event,newsSearch)' aria-describedby="helpId" placeholder="search">
                    <button (click)='searchByName(newsSearch)' type="submit" class="btn"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="col-6 order-5   col-lg-2 ">

                <div class="form-group sortNews dropdown open">
                    <a class="sort" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by <i class="fas fa-exchange-alt fa-1x"></i>
          </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <button class="dropdown-item" (click)='sortAsc()'>A to Z</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" (click)='sortDesc()'>Z to A</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-wrapper">


            <div *ngFor='let article of displayNews | paginate: { itemsPerPage: 9, currentPage: p }; let i = index' class="card">

                <img class="card-img-top" src="{{article.img}}" alt="">

                <div class="share text-right m-3">
                    <!-- favorite icon -->
                    <i class="far fa-heart fa-3x" (click)="fav($event)"></i>
                    <i class="favorite fas fa-heart fa-3x" (click)="unfav($event)"></i>

                    <!-- share icon -->
                    <i class="fas fa-share-alt fa-3x" (click)='showSocial($event)'></i>
                    <!-- social sharing -->
                    <div class="social" style="display: none;">
                        <a class=" bg-primary text-white">
                            <i class="fab text-white fa-facebook-f"></i>
                        </a>
                        <a class=" bg-info text-white">
                            <i class="text-white fab fa-twitter"></i>
                        </a>
                        <a class=" bg-danger">
                            <i class="text-white fas fa-envelope"></i>
                        </a>
                    </div>

                </div>


                <a [routerLink]="['details',article.id]">
                    <div class="card-body">
                        <h2 class="card-title">{{article.title}}</h2>
                        <span class="badge  py-2 px-3">News</span>
                        <p class="card-text">{{article.desc}}</p>

                        <span class="article-date"><i class="far fa-calendar-alt fa-1x"></i>{{article.date}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="w-50 m-auto text-center pb-5" *ngIf="displayNews.length !== 0">
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

</section>