// global variables
$h1:3.5rem;
$p:1.8rem;
$btnColor:#8DC043;
$bgColor:#068997; //btn style
%btn {
    color: #ffffff;
    background-color: $btnColor;
}

%navIcons {
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    &:hover {
        background-color: $btnColor;
        // transition: 0.3s;
    }
}

@mixin transform($deg) {
    -moz-transform: $deg;
    -ms-transform: $deg;
    -o-transform: $deg;
    -webkit-transform: $deg;
    transform: $deg;
}

%navToast {
    visibility: hidden;
    color: #ffffff;
    font-size: 1rem;
    background-color: rgba(30, 30, 30, 0.4);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    left: -1rem;
    bottom: -2.5rem;
}

//carousel images
$fisrtSlide:url('../../../assets/Layer17.jpg');
$secondSlide:url('../../../assets/slider2.jpg');
$thirdSlide:url('../../../assets/Layer1copy.jpg');
$firstSlideMobile:url('../../../assets/Layer17Mobile@2x.jpg');
$secondSlideMobile:url('../../../assets/slider2Mobile@2x.jpg');
$thirdSlideMobile:url('../../../assets/layer1Mobile@2x.jpg');
%section {
    padding: 5rem 0;
}
