@import '../../../shared/style/global.scss';
.overlay {
    width: 100%;
    background-color: rgba(114, 113, 113, 0.5);
    .wrapper {
        padding: 5rem 0;
        text-align: center;
        .Rotation-Divs {
            margin-bottom: 40px;
            padding: 100px 0;
            .shapeContainer {
                margin-top: 5rem;
            }
            ul {
                display: flex;
                flex-flow: column;
                text-align: center;
                align-items: center;
            }
            .rotation {
                width: 120px;
                height: 120px;
                margin: 3rem 0;
                transform: rotate(45deg);
                border: 3px solid #fff;
                color: #fff;
                display: inline-block;
                text-align: center;
                &:hover {
                    background-color: $btnColor;
                    border-color: $btnColor;
                }
            }
            .shape-content {
                text-align: center;
                transform: rotate(-45deg);
                h3 {
                    font-size: 1.8rem;
                    color: #ffffff;
                    margin: 9%;
                }
                p {
                    color: #ffffff;
                    font-size: 2rem;
                    font-weight: 800;
                }
                img {
                    width: 30%;
                }
                .shape-7 {
                    margin: none;
                }
            }
            &:nth-child(2) {
                h3 {
                    margin: 12% 0 !important;
                }
            }
        }
        @media only screen and (min-width:768px) {
            .Rotation-Divs {
                ul {
                    display: unset;
                }
                ul:last-child {
                    top: -9px;
                }
                .rotation {
                    width: 100px;
                    height: 100px;
                    margin: 0 25px;
                    text-align: center;
                    .shape-content {
                        img {
                            width: 30%;
                        }
                    }
                    &:first-child {
                        img {
                            width: 20%;
                        }
                        h3 {
                            margin: 0;
                        }
                    }
                    &:nth-child(2) {
                        h3 {
                            margin: 21% 0 !important;
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        h3 {
                            margin: 16% 0 !important;
                        }
                    }
                }
            }
        }
        @media only screen and (min-width:1024px) {
            .Rotation-Divs {
                ul:last-child {
                    top: -9px;
                }
                .rotation {
                    width: 120px;
                    height: 120px;
                    margin: 0 30px;
                    .shape-content {
                        h3 {
                            font-size: 2rem;
                        }
                    }
                    &:nth-child(2) {
                        h3 {
                            margin: 21% 0 !important;
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        h3 {
                            margin: 16% 0 !important;
                        }
                    }
                }
            }
        }
        @media only screen and (min-width:1200px) {
            .Rotation-Divs {
                ul:last-child {
                    top: -9px;
                }
                ul:first-child .rotation {
                    img {
                        width: 25%;
                    }
                }
                .rotation {
                    width: 160px;
                    height: 160px;
                    margin: 0px 38px;
                    .shape-content {
                        text-align: center;
                        padding-right: 5%;
                        h3 {
                            font-size: 2.6rem;
                            margin-right: 0;
                        }
                        img {
                            width: 30%;
                        }
                    }
                    &:nth-child(2) {
                        h3 {
                            margin: 21% 0 !important;
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        h3 {
                            margin: 16% 0 !important;
                        }
                    }
                }
            }
        }
        @media only screen and (min-width:1441px) {
            .Rotation-Divs {
                ul:last-child {
                    top: -9px;
                }
                ul {
                    &:first-child {
                        .rotation {
                            img {
                                width: 25%;
                            }
                        }
                    }
                }
                .rotation {
                    width: 175px;
                    height: 175px;
                    margin: 0 45px;
                    .shape-content {
                        text-align: center;
                        padding-right: 8%;
                        h3 {
                            font-size: 2.6rem;
                            // margin-right: 5%;
                            margin-bottom: 2rem;
                        }
                        img {
                            width: 30%;
                        }
                    }
                    &:nth-child(2) {
                        h3 {
                            margin: 11% 0;
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        h3 {
                            margin: 8% 0;
                        }
                    }
                }
            }
        }
    }
}