<div class="overlay">


    <div class="wrapper">
        <div class="helping-header">
            <h1 class="text-white">How we have helped</h1>
            <p class="text-white">See how Al Foundation have promoted change locally and to the world
            </p>
        </div>
        <div class="text-center Rotation-Divs">
            <ul>
                <li class="rotation">
                    <div class="shape-content">
                        <img src="../../../assets/helping/pin (1).png" alt="" srcset="">
                        <h3>Find place</h3>


                        <p>+</p>
                    </div>
                </li>
                <li class="rotation">
                    <div class="shape-content">
                        <img src="../../../assets/helping/Show-Hide password.png" alt="" srcset="">
                        <h3>Find place</h3>


                        <p>+</p>
                    </div>
                </li>
                <li class="rotation">
                    <div class="shape-content">
                        <img src="../../../assets/helping/info.png" alt="" srcset="">
                        <h3>Find place</h3>


                        <p>+</p>
                    </div>
                </li>
                <li class="rotation">
                    <div class="shape-content">
                        <img src="../../../assets/helping/surface1.png" alt="" srcset="">
                        <h3>Find place</h3>


                        <p>+</p>
                    </div>
                </li>
                <li class="rotation">
                    <div class="shape-content">
                        <img src="../../../assets/helping/arrow(2).png" alt="" srcset="">
                        <h3>Find place</h3>


                        <p>+</p>
                    </div>
                </li>
                <li class="rotation">
                    <div class="shape-content">
                        <img src="../../../assets/helping/Path 51794.png" alt="" srcset="">
                        <h3>Find place</h3>


                        <p>+</p>
                    </div>
                </li>
                <li class="rotation">
                    <div class="shape-content">
                        <img src="../../../assets/helping/noun_services_2097593.png" alt="" srcset="">
                        <h3>Find place</h3>


                        <p>+</p>
                    </div>
                </li>
            </ul>

        </div>


    </div>
</div>