<section class="hero">
    <div id="carouselId" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
            <li data-target="#carouselId" data-slide-to="1"></li>
            <li data-target="#carouselId" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner" role="listbox">

            <div class="carousel-item first-carousel active">
            </div>
            <div class="carousel-item second-carousel">
            </div>
            <div class="carousel-item third-carousel">
            </div>
            <div class="overlay text-center d-flex ">
                <div class="caption m-auto">
                    <h1 class="text-white">Al Foundation</h1>
                    <p class="text-white">is focused on inspiring the next generation of kids Healthcare professionals.</p>
                    <a class="btn" href="">Donate Now</a>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            <img class="prev" src="../../../assets/previous disabled@2x.png" alt="" srcset="">
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
            <img class="next" src="../../../assets/previous disabled@2x.png" alt="" srcset="">
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>





<!-- *************** latest news section **************** -->




<section class="wrapper news-section">
    <div class="news-header mb-5">
        <h1>Latest News</h1>
        <a class="newsLink" routerLink='/news'>
            <span>View all</span>
            <i class="fas fa-long-arrow-alt-right fa-1x"></i>
        </a>
    </div>

    <div class="row">
        <div class="news-wrapper">

            <div *ngFor='let article of homeArticles  let i = index' class="card">

                <img class="card-img-top" src="{{article.urlToImage}}" alt="">

                <div class="share text-right m-3">
                    <!-- favorite icon -->
                    <i class="far fa-heart fa-3x" (click)="fav($event)"></i>
                    <i class="favorite fas fa-heart fa-3x" (click)="unfav($event)"></i>

                    <!-- /////////////////////////////////// -->


                    <!-- share icon -->
                    <i class="fas fa-share-alt fa-3x" (click)='showSocial($event)'></i>

                    <!-- /////////////////////////////////// -->

                    <!-- social sharing -->
                    <div class="social" style="display: none;">
                        <a class=" bg-primary text-white">
                            <i class="fab text-white fa-facebook-f"></i>
                        </a>
                        <a class=" bg-info text-white">
                            <i class="text-white fab fa-twitter"></i>
                        </a>
                        <a class=" bg-danger">
                            <i class="text-white fas fa-envelope"></i>
                        </a>
                    </div>

                </div>


                <a [routerLink]="['/details',article.id]">
                    <div class="card-body">
                        <h2 class="card-title">{{article.title}}</h2>
                        <span class="badge  py-2 px-3">News</span>
                        <p class="card-text">{{article.description}}</p>

                        <span class="article-date"><i class="far fa-calendar-alt fa-1x"></i>{{article.publishedAt}}</span>
                    </div>
                </a>
            </div>
        </div>


    </div>

</section>


<!-- *************** helping section **************** -->



<section class="helping">
    <app-helping></app-helping>
</section>