/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif
}

body {
    h1 {
        //from 0 to 556px
        font-size: 2rem;
        font-weight: 600;
        @media screen and (min-width: 600px) {
            font-size: 2 rem;
        }
        @media screen and(min-width:768px) {
            font-size: 4rem;
        }
    }
    .breadcrumb {
        background-color: transparent;
        padding: 2rem 0;
        a {
            font-size: 1.5rem;
            &:nth-child(n+2)::before {
                content: '>';
                font-weight: 900;
                font-size: 16px;
                padding: 0 1rem;
                color: lightgray;
            }
        }
    }
    .paginator {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
    }
    .paginator>>>.ngx-pagination .current {
        background: green !important;
        border-radius: 4px;
        padding-left: 9px;
        padding-right: 9px;
    }
    .paginator>>>.ngx-pagination a:hover,
    .ngx-pagination button:hover {
        background: #d4d4d4;
        border-radius: 3px;
        padding-left: 9px;
        padding-right: 9px;
        text-decoration: none;
    }
    .paginator>>>.ngx-pagination a:focus,
    .ngx-pagination button:focus {
        outline: none;
        background: #d4d4d4;
    }
    h2 {
        //from 0 to 600px
        font-size: 1.6rem;
        font-weight: 600;
        @media screen and (min-width: 600px) {
            font-size: 2rem;
        }
        @media screen and(min-width:768px) {
            font-size: 2rem;
        }
        @media screen and(min-width:992px) {
            font-size: 2rem;
        }
        @media screen and(min-width:1200px) {
            font-size: 2rem;
        }
    }
    p {
        //from 0 to 600px
        font-size: 1.2rem;
        font-weight: 400;
        color: #707070;
        @media screen and (min-width: 600px) {
            font-size: 1.6 rem;
        }
        @media screen and(min-width:768px) {
            font-size: 1.6rem;
        }
        @media screen and(min-width:992px) {
            font-size: 1.6rem;
        }
        @media screen and(min-width:1200px) {
            font-size: 1.6rem;
        }
    }
    a {
        //from 0 to 600px
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: none;
        color: #000000;
        &:hover {
            text-decoration: none;
        }
        @media screen and (min-width: 600px) {
            font-size: 1.5 rem;
        }
        @media screen and(min-width:768px) {
            font-size: 1.8rem;
        }
        @media screen and(min-width:992px) {
            font-size: 1.8rem;
        }
        @media screen and(min-width:1200px) {
            font-size: 1.8rem;
        }
    }
    .wrapper {
        width: 80%;
        margin: 0 auto;
    }
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';